@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kosugi Maru', 'Noto Sans JP', sans-serif;
}

@keyframes scroll {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(200%); }
}

.animate-scroll {
  animation: scroll 2s linear infinite;
}
